body {
  background-color:  #232323;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
nav {
  height: 30px;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
.square {
  display: inline-block;
  background-color: purple;
  width: 30%;
  padding-bottom: 30%;
}
